<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <div th:fragment="alter-password-company">
    <!-- MODAL DE CONFIGURAÇÃO DO PERFIL DO USUARIO -->
    <div class="modal fade" role="dialog" id="modalAlterPasswordCompany">
      <div class="modal-dialog">
        <!-- MODEL CONTENT -->
        <div class="modal-content efeitoZoom">
            <!-- HEADER DO MODAL -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
              <h4 class="modal-title titleModal" th:text="'Alterar senha'"></h4>
            </div>
            <!-- BODY DO MODAL -->
            <div class="modal-body alterPasswordCompany">
              <form id="alterPasswordCompany"   method="POST" th:action="@{/AtualizarUserCompany}" th:objects="${user}">
                <div style="text-align:center;" class="divModalAlterPasswordCompany">
                  <!-- Senha Atual input-->
                  <div class="form-group">
                    <input th:field="${user.senha}"  id="passwordNow"  name="" type="password"  placeholder="digite senha atual" class="inputModal  " required=""></input>
                    <input th:field="${user.email}"  id="email"  name="" type="text"  placeholder="digite senha atual" class="noDisplay" required=""></input>
                  </div>
                  <!-- Nova Senha input-->
                  <div class="form-group">
                    <input id="passwordNew" name="" type="password"  placeholder="digite nova senha" class="inputModal  " required=""></input>
                  </div>
                  <!-- Confirma Senha input-->
                  <div class="form-group">
                    <input th:field="${user.novaSenha}"  id="passwordNewConfirm" name="" type="password" placeholder="confirme sua senha" class="inputModal" required=""></input>
                  </div>
                </div>
              </form>
          </div>
          <!-- FOOTER DO MODAL -->
          <div class="modal-footer footerModal">
            <input class="btnModal" form="alterPasswordCompany" type="submit" value="salvar"></input>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
</html>
