<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <div th:fragment="config-perfil-company">
    <!-- MODAL DE CONFIGURAÇÃO DO PERFIL DO USUARIO -->
    <div class="modal fade" role="dialog" id="modalConfigPerfilCompany">
      <div class="modal-dialog">
        <!-- MODEL CONTENT -->
        <div class="modal-content efeitoZoom">
          <!-- HEADER DO MODAL -->
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times fechaModal"></i></button>
            <h4 class="modal-title titleModal" th:text="'Configurações do perfil'"></h4>
          </div>
          <!-- BODY DO MODAL -->
          <div class="modal-body">

            <form id="configPerfilCompany" method="POST" th:action="@{/AtualizarUserCompany}" th:objects="${user}">
              <div class="divModalConfigPerfil">

                <img class="circuloImgUser imgUserModal" src="http://cdn2.hubspot.net/hub/245562/file-306538470-png/v3/ninja2.png?t=1453934745802"></img>
                <input th:field="${user.nomePessoa}" type="text" class="inputModal inputModalConfigPerfil" placeholder="digite o nome da pessoa responsável"></input>
                <input th:field="${user.email}" type="text" readonly="true" class="inputModal inputModalConfigPerfil" placeholder="digite o email do responsável"></input>
                <input th:field="${user.telefoneCelular}" maxlength="15" title="Ex:(00) 0000-0000" onkeypress="mascaraPhone(this, mtel);" id="TELEPHONEF" type="text" pattern="\([0-9]{2}\) [0-9]{4,4}-[0-9]{4,4}$" class="inputModal inputModalConfigPerfil" placeholder="digite o telefone da pessoa responsável"></input>
                <input th:field="${user.telefoneFixo}" maxlength="14" title="Ex:(00) 0000-0000" onkeypress="mascaraPhone(this, mtel);" id="TELEPHONEC" type="text" pattern="\([0-9]{2}\) [0-9]{1,1}[0-9]{4,4}-[0-9]{4,4}$" class="inputModal inputModalConfigPerfil" placeholder="digite o telefone celular da pessoa responsável"></input>
                <span class="alterPhoto">Alterar foto</span>

              </div>
            </form>
          </div>
          <!-- FOOTER DO MODAL -->
          <div class="modal-footer footerModal">
            <input class="btnModal" form="configPerfilCompany" type="submit" value="salvar"></input>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
