<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
  <div th:fragment="genero-evento">
    <!-- MODAL DE CONFIGURAÇÃO DO PERFIL DO USUARIO -->
    <div class="modal fade" role="dialog" id="modalGeneroEvento">
      <div class="modal-dialog">
        <!-- MODEL CONTENT -->
        <div class="modal-content efeitoZoom">
            <!-- HEADER DO MODAL -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times"></i></button>
              <h4 class="modal-title titleModal" th:text="'Generos do Evento'"></h4>
            </div>
            <!-- BODY DO MODAL -->
            <div class="modal-body">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 col-sm-12 divIconsGeral">
                    <div class="col-md-3 col-sm-3">
                      <div class="boxGenero" onclick="SelectGenero(this,0)" id="g1">
                          <div class="divIcons"><i class="icon-rock icoGeneroStyle"></i></div>
                          <div class="nomeIcone">Rock</div>
                          <i class="fa fa-check-circle icoCheck noDisplay" id="ckg1"></i>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div class="boxGenero" onclick="SelectGenero(this,1)" id="g2">
                          <div class="divIcons"><i class="icon-samba icoGeneroStyle"></i></div>
                          <div class="nomeIcone">Pagode</div>
                          <i class="fa fa-check-circle icoCheck noDisplay" id="ckg2"></i>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div class="boxGenero" onclick="SelectGenero(this,2)" id="g3">
                          <div class="divIcons"><i class="icon-eletro icoGeneroStyle"></i></div>
                          <div class="nomeIcone">Eletrônica</div>
                          <i class="fa fa-check-circle icoCheck noDisplay" id="ckg3"></i>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                      <div class="boxGenero" onclick="SelectGenero(this,3)" id="g4">
                          <div class="divIcons"><i class="icon-sertanejo icoGeneroStyle"></i></div>
                          <div class="nomeIcone">Sertanejo</div>
                          <i class="fa fa-check-circle icoCheck noDisplay" id="ckg4"></i>
                      </div>
                        <input class="noDisplay" type="text" id="genres"></input>
                    </div>
                  </div>
                </div>

              </div>
          </div>
          <!-- FOOTER DO MODAL -->
          <div class="modal-footer footerModal">
            <input class="btnModal" type="submit" onclick="atualizaGeneroEvento();" value="salvar"></input>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
