<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorator="layout/Home-Default">
   <head>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <title id="viaGoogle" >The Dionisio | Empresa</title>
   </head>
   <body>
      <section layout:fragment="conteudo">
         <!-- ================== START HEAD SECTION ==================== -->
         <section class="header parallax home-parallax page" id="HOME">
            <div class="section_overlay">
               <!-- HEAD -->
               <div th:replace="fragments/home/Header :: header">...</div>
            </div>
         </section>
         <!-- ================== END HEADER SECTION ==================== -->
         <!-- ================== START FORM SECTION ==================== -->
         <section class="company-contact parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" id="LOGIN">
            <div class="section_overlay wow lightSpeedIn" style="background-color: rgba(0,0,0,0.6);">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 col-md-offset-1">
                        <!-- Start Subscribe Section Title -->
                        <div class="section_title TitleContactCompany">
                           <h2 class="justFFF">Comece a trabalhar com a gente</h2>
                           <p class="justFFF">Precisamos de algumas informações...</p>
                        </div>
                        <!-- End Subscribe Section Title -->
                     </div>
                  </div>
               </div>
               <div class="container">
                  <div class="row  wow lightSpeedIn">
                     <div class="col-md-6 col-md-offset-3">
                        <!-- SUBSCRIPTION SUCCESSFUL OR ERROR MESSAGES -->
                        <div class="subscription-success"></div>
                        <div class="subscription-error"></div>
                        <form class="subscribe_form" method="POST" th:action="@{/ParaEmpresa}" th:objects="${user}">
                           <div class="form-group">
                              <p class="PCadCompany">Email de contato</p>
                              <input type="email" value="" name="email" class="required email form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" title="Ex: thedionisio@company.br" id="EMAIL" placeholder="informe o seu email" required="" autofocus="" th:field="*{user.email}"></input>
                              <!--  <p class="PCadCompany">Nome da empresa</p>
                               <input type="text" value="" name="name-company" class="required email form-control" id="NAME-COMPANY" placeholder="informe o nome da empresa" required="" autofocus="" th:field="*{user.nomeFant}"></input>
                               <p class="PCadCompany">Ramo de atividades</p>
                               <select id="idRamo" class="form-control" onblur="pegarIdRamo()">
                                  <option  th:each="ramos : ${ramos}" th:id="${ramos.idRamo}" th:value="${ramos.idRamo}" th:text="${ramos.descricaoRamo}"></option>
                               </select>
                               <input id="idR" type="text" class="noDisplay" th:field="*{edto.idRamo}"></input> -->
                              <p class="PCadCompany">Nome do responsavel para contato</p>
                              <input type="text" value="" name="responsable" class="required email form-control" id="NAME-REPONSABLE" placeholder="infome o nome da pessoa para contato" required="" autofocus="" th:field="*{user.nomePessoa}"></input>
                              <p class="PCadCompany">Telefone fixo do responsável para contato</p>
                              <input type="text" value="" name="telephone" class="required  form-control" id="TELEPHONEF" onkeypress="mascaraPhone(this, mtel);" maxlength="14" pattern="\([0-9]{2}\) [0-9]{4,4}-[0-9]{4,4}$" placeholder="infome o telefone fixo de contato" required="" autofocus="" th:field="*{user.telefoneFixo}"></input>
                              <p class="PCadCompany">Telefone celular do responsável para contato</p>
                              <input type="text" value="" name="telephone" class="required  form-control" id="TELEPHONEC" onkeypress="mascaraPhone(this, mtel);" maxlength="15" pattern="\([0-9]{2}\) [0-9]{1,1}[0-9]{4,4}-[0-9]{4,4}$" placeholder="infome o telefone celular de contato" required="" autofocus="" th:field="*{user.telefoneCelular}"></input>
                           </div>
                           <div class="subT"></div>
                           <!-- SUBINCRIBE BTN  -->
                           <input type="submit" class="btn btn-default subs-btn" value="INICIAR"></input>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- ================== END FORM SECTION ====================== -->
         <!-- ================== START IMPUTSJS SECTION ================ -->
         <div th:replace="fragments/home/Inputs-JS :: inputsJS">...</div>
         <!-- ================== END IMPUTSJS SECTION ================== -->
         <script th:src="@{/layout/javascripts/company.js}"></script>
      </section>
   </body>
</html>
