<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/Home-Default">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title id="viaGoogle">The Dionisio | Login Empresa</title>

</head>
<body>
	<section layout:fragment="conteudo">


		<!-- ================== START HEAD SECTION ==================== -->
		<section class="header parallax home-parallax page" id="SING-IN">
			<div class="section_overlay">
				<!-- HEAD -->
				<div th:replace="fragments/home/Header :: header">...</div>
			</div>
		</section>

		<!-- ================== END HEADER SECTION ==================== -->

		<!-- ================== START FORM SECTION ==================== -->
		<section class="company-login parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" id="LOGIN">
			<div class="section_overlay wow lightSpeedIn" style="background-color: rgba(0,0,0,0.5);">
				<div class="container">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<div class="section_title no_paddingBotton" >
								<h2 style="text-shadow: 1px 1px 1px #333; color: #FFF">Logue como empresa</h2>

							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="row  wow lightSpeedIn">
						<div class="col-md-6 col-md-offset-3">
							<div class="subscription-success"></div>
							<div class="subscription-error"></div>

							<form class="subscribe_form" method="POST" th:action="@{/LoginEmpresa}" th:object="${user}">
								<div class="form-group">
									<input id="email-login" type="email" required="" autofocus="" class="required email form-control" placeholder="Informe o seu email" th:field="*{email}"></input>
									<input id="password-login" type="password" required="" autofocus="" class="required password form-control" placeholder="Informe sua senha" th:field="*{senha}"></input>
								</div>
								<button type="submit" class="btn btn-default subs-btn">Login</button>
							</form>
							<div style="color:#FFF">
								<a class="linkFFF colorSob" th:href="@{/EsqueciMinhaSenha}"><p>Esqueci minha senha</p></a>
								<a class="linkFFF colorSob" th:href="@{/ParaEmpresa}"><p>Não possuo conta</p></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- ================== END FORM SECTION ====================== -->


	<!-- ================== START IMPUTSJS SECTION ================ -->
		<div th:replace="fragments/home/Inputs-JS :: inputsJS">...</div>
	<!-- ================== END IMPUTSJS SECTION ================== -->


	</section>



</body>

</html>
