<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <div th:fragment="create-events">
      <!-- ================== START HEAD SECTION ==================== -->
      <div th:replace="dash/modal/Genero-Evento :: genero-evento">...</div>
      <!-- ================== END HEADER SECTION ==================== -->
		<div id="criarEvento" class="container noDisplay">
			<span class="tituloE">Criando envento</span>
			<div class="row" style="margin-top:-75px;">
				<section>
					<div class="wizard">
						<div class="wizard-inner">

							<div class="connecting-line"> </div>

							<ul class="nav nav-tabs" role="tablist">

								<li role="presentation" class="active" onclick="RemoveMap()">
									<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="informações básicas">
                                        <span class="round-tab">
	                                <i class="fa fa-info"></i>
	                            </span>
									</a>
								</li>

								<li role="presentation" class="disabled" onclick="RemoveMap()">
									<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="configurando ingressos">
                                        <span class="round-tab">
	                                <i class="fa fa-ticket"></i>
	                            </span>
									</a>
								</li>

								<li role="presentation" class="disabled" onclick="FadeMap()">
									<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="definindo o local">
                                        <span class="round-tab">
	                                <i class="fa fa-map-o"></i>
	                            </span>
									</a>
								</li>

								<li role="presentation" class="disabled" onclick="RemoveMap()">
									<a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="adicionando tag's e image">
                                        <span class="round-tab">
												<i class="fa fa-tag"></i>
										</span>
									</a>
								</li>

								<li role="presentation" class="disabled" onclick="RemoveMap()">
									<a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="conferindo e salvando">
                                        <span class="round-tab">
	                                <i class="fa fa-check"></i>
	                            </span>
									</a>
								</li>
							</ul>

						</div>

						<div class="formE" method="POST">
							<div class="tab-content">

								<div class="tab-pane active" role="tabpanel" id="step1">

									<select id="filialEvento" class="iform" onclick="setEndereco()">
										<option value="0" >escolha uma filial</option>
										<option th:each="filial : ${filiais}" th:id="${filial.idEmpresa}" th:value="${filial.idEmpresa}" th:text="${filial.nomeFant}"></option>
									</select>

									<input id="idEvento" type="text" class="noDisplay" value="0" th:field="*{eventoDTO.idEvento}"></input>
									<input id="nomeEvento" type="text" placeholder="nome do evento" class="iform" required="" th:field="*{eventoDTO.nomeEvento}"></input>
									<input id="dataInicialEvento" type="date" onBlur="validaDataAtual()" placeholder="data inicial do evento" class="iform left" required="" th:field="*{eventoDTO.dataInicialEvento}"></input>
									<input id="dataFinalEvento" type="date" onBlur="validaDataEvento(); " placeholder="data final do evento" class="iform right" required="" th:field="*{eventoDTO.dataFinalEvento}"></input>
									<textarea id="descricaoEvento" type="text" rows="4" cols="50" placeholder="faça aqui uma descrição breve do evento" class="iform txtArea" required="" th:field="*{eventoDTO.descricaoEvento}" />

									<ul class="list-inline pull-right">
										<input type="button" value="continuar" onClick="validaEvento();" class="fFoda btn btn-primary" ></input>
										<input type="submit" id="btnSalvaInfo" onClick="salvaInfo();"  class="fFoda btn btn-primary next-step noDisplay" ></input>
									</ul>

								</div>

								<div class="tab-pane" role="tabpanel" id="step2">

									<input type="text" id="idLote" class="noDisplay" th:field="*{loteDTO.idLote}"></input>
									<input type="text" id="descricaoLote" placeholder="nome do lote, exemplo:(1º Lote)" class="iform wIngresso mRight" th:field="*{loteDTO.descricaoLote}"></input>
									<input type="date" id="dataInicialLote" onblur="validaDataLoteEvento(); validaDataAtualLote();" placeholder="data inicial venda deste lote" class="iform wIngresso mRight"  th:field="*{loteDTO.dataInicialLote}"></input>
									<input type="date" id="dataFinalLote" onblur="validaDataEventoFinal(); validaDataAtualLoteFinal();" placeholder="data final venda deste lote" class="iform wIngresso" th:field="*{loteDTO.dataFinalLote}"></input>

									<input type="button" value="add lote" onClick="validaLote();" class="fFoda btn btn-default" ></input>
									<input type="submit" id="addLote" onclick="salvaLote();" class="fFoda btn btn-primary noDisplay" ></input>

									<ol id="listaLote" class="jaCad">

									</ol>

									<hr></hr>

									<select id="idSetor" class="iform">
										<option id="set" value="0">setor (camarote/vip/pista)</option>
										<option th:each="setor : ${setores}" th:id="${setor.idSetor}" th:value="${setor.idSetor}" th:text="${setor.descricaoSetor}"></option>
									</select>

									<div class="row" style="height: 40px;">

										<div class="col-md-4">
											<div id="meia" class="opCheck" onclick="checkThis(this); checkBoxSet(this);">
												<div class="boxCheck"><i id="cmeia" class="fa fa-check noDisplay" aria-hidden="true"></i></div>
												<div class="opTitulo">estudante</div>
											</div>
										</div>

										<div class="col-md-4">
											<div id="open" class="opCheck" onclick="checkThis(this); checkBoxSet(this);">
												<div class="boxCheck"><i id="copen" class="fa fa-check noDisplay" aria-hidden="true"></i></div>
												<div class="opTitulo">open Bar</div>
											</div>
										</div>

										<div class="col-md-4">
											<div id="sexo" class="opCheck" onclick="checkThis(this); checkBoxSet(this);">
												<div class="boxCheck"><i id="csexo" class="fa fa-check noDisplay" aria-hidden="true"></i></div>
												<div class="opTitulo">distição de sexo</div>
											</div>
										</div>

									</div>


									<div id="tipoH" class="divI left mRight noDisplay">
										<span class="spamPre">ingresso homem</span>
										<input id="qtdMasculino" type="text" onkeypress="tecla();" placeholder="qtd limite" class="iLoto left" th:field="*{ingressoDTO.qtdMasculino}"></input>|
										<input id="valorMasculino" type="text" onKeyPress="return(MascaraMoeda(this,'.',',',event))" placeholder="R$" class="iLoto right" th:field="*{ingressoDTO.valorMasculino}"></input>
									</div>

									<div id="tipoM" class="divI right noDisplay">
										<span class="spamPre">ingresso mulher</span>
										<input id="qtdFeminino" type="text" onkeypress="tecla();" placeholder="qtd limite" class="iLoto left" th:field="*{ingressoDTO.qtdFeminino}"></input>|
										<input id="valorFeminino" type="text" onKeyPress="return(MascaraMoeda(this,'.',',',event))" placeholder="R$" class="iLoto right" th:field="*{ingressoDTO.valorFeminino}"></input>
									</div>

									<div id="tipoU" class="divI divUnico floatLeft">
										<span class="spamPre">ingresso unico</span>
										<input id="qtdUnico" type="text" onkeypress="tecla();" placeholder="qtd limite" class="iLoto left" th:field="*{ingressoDTO.qtdUnico}"></input>|
										<input id="valorUnico" type="text" onKeyPress="return(MascaraMoeda(this,'.',',',event))" placeholder="R$" class="iLoto right" th:field="*{ingressoDTO.valorUnico}"></input>
									</div>

									<input type="text" id="idIngresso" class="noDisplay" th:field="*{ingressoDTO.idIngresso}"></input>

									<div id="addSt" onclick="salvaIngresso()" class="fFoda btn btn-default">add ingresso (s)</div>


									<ol id="listaIngresso" class="jaCad">

									</ol>

									<ul class="mTop list-inline pull-right">
										<li onclick="setUpdateEventoOn()"><button type="button" class="fFoda btn btn-default prev-step">voltar</button></li>
										<li><button type="button" class="fFoda btn btn-primary next-step">continuar</button></li>
									</ul>

								</div>

								<div class="tab-pane" role="" id="step3">


									<ul class="mMTop list-inline pull-right">
										<li><button type="button" class="fFoda btn btn-default prev-step" onclick="FadeMap()">voltar</button></li>
                    					<li><button type="button" onclick="validaMap();" class="fFoda btn btn-primary ">continuar</button></li>
										<li><button type="button" id="btnMaps" class="fFoda btn btn-primary next-step noDisplay" onclick="salvaLatLongEvento();FadeMap();"></button></li>

									</ul>
								</div>


								<div class="tab-pane" role="tabpanel" id="step4">

									<input type="text" data-toggle="modal" data-target="#modalGeneroEvento" placeholder="adicione as tag's do evento" class="iform" required=""></input>


									<textarea onclick="dropZone();" rows="4" cols="50" placeholder="drop aqui a imagem de divuldação do evento" class="iform txtArea borderImg" ></textarea>

									<ul class="list-inline pull-right">
										<li><button type="button" class="fFoda btn btn-default prev-step">voltar</button></li>
										<li><button type="button" class="fFoda btn btn-primary next-step">continuar</button></li>
									</ul>
								</div>

								<div class="tab-pane" role="tabpanel" id="complete">
									<span class="tituloE" style="margin-top: -25px;margin-bottom: 10px;">Lista de Checagem</span>

									<li  class="separadorMenu"></li>
									<span class="listCheck">Informações básicas</span><i class="checkSalvar fa fa-check-circle"></i>
									<span class="listCheck">Configurando ingressos</span><i class="checkSalvar fa fa-check-circle"></i>
									<span class="listCheck">Definindo local do evento</span><i class="checkSalvar fa fa-check-circle"></i>
									<span class="listCheck">Configurando gerando e imagem da festa</span><i class="checkSalvar fa fa-check-circle"></i>
									<li  class="separadorMenu"></li>

									<form method="POST" enctype="multipart/form-data" action="/uploadFile">
										<table>
											<input id="buscaFile" class="noDisplay" type="file" name="file" />
											<input id="buscaFile" class="noDisplay" type="file" name="tipo" />
											<input id="buscaFile" class="noDisplay" type="file" name="identificador" />
											<input id="enviaFile" type="submit" class="noDisplay" value="Upload" />
										</table>
									</form>

									<button type="button" onclick="salveFile();" class="fFoda btn btnFilizar btn-primary btListaEvento">finalizar</button>



									<div class="noDisplay">
										<!-- BOTAO DE COMPARTILHAR DO FACEBOOK PERSONALIZADO -->
										<div class="fb-share-button" data-size="large" data-href="https://google.com" data-layout="button" data-mobile-iframe="true">
											<a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse">Compartilhar</a>
										</div>

										<!-- BOTÃO DE COMPARTILHAR DO TWITTER PERSONALIZADO -->
										<a href="https://twitter.com/share?text=aqui o titulo do evento&amp;url=http://google.com" class="twitter-share-button" data-size="large" data-dnt="true">Tweetar</a>

									</div>
								</div>

								<div class="clearfix"></div>

							</div>


						</div>

					</div>

					</section>
			</div>
		</div>

    </div>



</body>
</html>
