<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <div th:fragment="list-events">

		<div id="listaEvento" class="listaFilialBusca">
			<span class="tituloE">Eventos</span>
				<select id="filialEventoBusca" class="iform width70 pLeft">
					<option th:each="filial : ${filiais}" th:id="${filial.idEmpresa}" th:value="${filial.idEmpresa}" th:text="${filial.nomeFant}"></option>
				</select>
				<button type="button" onclick="limpaEventos();buscaEvento(false);" class="fFoda btn btn-primary btListaEvento">listar evento</button>


			<ul class="jaCad" id="listEvent">

			</ul>

		</div>
	</div>


</body>
</html>
