<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="shortcut icon" th:href="@{/layout/favico.ico}" />
	<title>Dash</title>
	<!-- ================== START CSS SECTION ================ -->
	<div th:replace="fragments/dash/Inputs-CSS :: inputsCSS">...</div>
	<!-- ================== END CSS SECTION ================== -->

	<!-- ================== START JAVASCRIPT SECTION ========= -->
	<div th:replace="fragments/dash/Inputs-JS :: inputsJS">...</div>
	<!-- ================== END JAVASCRIPT SECTION =========== -->
</head>
<body class="dashHome" id="meuBodyLindo">
<div class="aw-layout-page">

	<!-- ================== START HEADER ========================== -->
	<div th:replace="fragments/dash/Header :: header">...</div>
	<!-- ================== END HEADER ============================ -->

	<!-- ================== START SECTION ======================== -->
	<aside id="menuLindo" class="aw-layout-sidebar  js-sidebar">
		<div class="aw-layout-sidebar__content">
			<nav class="aw-menu  js-menu">
				<ul class="aw-menu__list">
					<li id="l-branch" class="aw-menu__item">
						<a onclick="navegador('idPessoF','goFilial')">
							<i class="fa  fa-ff  fa-map-o"></i>
							<span class="menuFont">Filial</span>
						</a>
						<form method="POST" th:action="@{/Filiais}">
							<input id="idPessoF" type="text" class="noDisplay" th:field="${user.idPessoa}"></input>
							<input id="goFilial" type="submit" class="noDisplay" ></input>
						</form>
					</li>
					<li  class="separadorMenu"></li>
					<li id="l-about" class="aw-menu__item">
						<a onclick="navegador('idPessoS','goSobre')">
							<i class="fa  fa-ff  fa-pencil-square-o"></i>
							<span class="menuFont">Sobre</span>
						</a>
						<form method="POST" th:action="@{/Informacao}">
							<input id="idPessoS" type="text" class="noDisplay" th:field="${user.idPessoa}"></input>
							<input id="goSobre" type="submit" class="noDisplay" ></input>
						</form>
					</li>
					<li  class="separadorMenu"></li>
					<li id="l-events" class="aw-menu__item" onclick="navegador('idPessoE','goEvento')">
						<a>
							<i class="fa  fa-ff  fa-hand-peace-o"></i>
							<span class="menuFont">Eventos</span>
						</a>
						<form method="POST" th:action="@{/Evento}">
							<input id="idPessoE" type="text" class="noDisplay" th:field="${user.idPessoa}"></input>
							<input id="goEvento" type="submit" class="noDisplay" ></input>
						</form>
					</li>

					<li  class="separadorMenu"></li>
					<li id="l-monetary" class="aw-menu__item" onclick="navegador('idPessoM','goMonetario')">
						<a>
							<i class="fa  fa-ff  fa-money"></i>
							<span class="menuFont">Monetário</span>
						</a>
						<form method="POST" th:action="@{/Monetario}">
							<input id="idPessoM" type="text" class="noDisplay" th:field="${user.idPessoa}"></input>
							<input id="goMonetario" type="submit" class="noDisplay" ></input>
						</form>
					</li>
					<li  class="separadorMenu"></li>
					<li id="l-analitcs" class="aw-menu__item" onclick="navegador('idPessoA','goAnalitico')">
						<a>
							<i class="fa  fa-ff  fa-bar-chart"></i>
							<span class="menuFont">Analises</span>
						</a>
						<form method="POST" th:action="@{/Analitico}" >
							<input id="idPessoA" type="text" class="noDisplay" th:field="${user.idPessoa}"></input>
							<input id="goAnalitico" type="submit" class="noDisplay" ></input>
						</form>
					</li>
					<li  class="separadorMenu"></li>
					<li id="l-checkin" class="aw-menu__item" onclick="navegador('idPessoC','goCheckin')">
						<a>
							<i class="fa  fa-ff fa-check"></i>
							<span class="menuFont">Check-in</span>
						</a>
						<form method="POST" th:action="@{/Checkin}" >
							<input id="idPessoC" type="text" class="noDisplay" th:field="${user.idPessoa}"></input>
							<input id="goCheckin" type="submit" class="noDisplay" ></input>
						</form>
					</li>
				</ul>
			</nav>
		</div>
	</aside>

	<section id="conteudo" class="aw-layout-content  dashHome js-content" layout:fragment="conteudo"></section>
	<!-- ================== END SECTION ========================== -->
</div>

<!-- ======================== START FOOTER =========================-->
     <div th:replace="fragments/dash/Graphs :: graphs">...</div>
<!-- ======================== END FOOTER ===========================-->

</body>
</html>