<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="shortcut icon" th:href="@{/layout/favico.ico}" />
	<title></title>
	<!-- ================== START HEADER ========================== -->
	<div th:replace="fragments/home/Inputs-CSS :: inputsCSS">...</div>
	<!-- ================== END HEADER ============================ -->
</head>
<body class="aw-layout-simple-page">

<!-- ======================== START PRELODER =======================-->
<div th:replace="fragments/Preloader :: preloader">...</div>
<!-- ========================  END PRELODER ========================-->

<div class="aw-layout-simple-page__container">
	<th:block layout:fragment="conteudo"/>
</div>

<!-- ======================== START FOOTER =========================-->
<div th:replace="fragments/home/Footer :: footer">...</div>
<!-- ======================== END FOOTER ==========================-->

</body>
</html>