<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="shortcut icon" th:href="@{/layout/favico.ico}" />
	<title>Dash</title>

</head>
<body class="bodyPatform">
<div class="aw-layout-page">

	<!-- ================== START CSS SECTION ================ -->
	<div th:replace="fragments/platform/Inputs-CSS :: inputsCSS">...</div>
	<!-- ================== END CSS SECTION ================== -->

	<!-- ================== START JAVASCRIPT SECTION ========= -->
	<div th:replace="fragments/platform/Inputs-JS :: inputsJS">...</div>
	<!-- ================== END JAVASCRIPT SECTION =========== -->

	<div th:replace="fragments/platform/Header :: platform-header">...</div>

	<section class="js-content" layout:fragment="conteudo"></section>
</div>
</body>
</html>