!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="message-branch">
      <div th:object="${msg}" >
        <div id="msgDiv" th:switch="${msg.tipo}">
          <div th:case="update" class="msg msgOK">
            <span>filial</span>&nbsp;
            <span class="alertFilial" th:text="${msg.texto}"></span>&nbsp;
            <span>atualizada com sucesso &nbsp; :)</span>
          </div>
          <div th:case="delete" class="msg msgFAIL">
            <span>filial</span>&nbsp;
            <span class="alertFilial" th:text="${msg.texto}"></span>&nbsp;
            <span> deletada com sucesso &nbsp; :/</span>
          </div>
          <div th:case="save" class="msg msgOK">
            <span>filial</span>&nbsp;
            <span class="alertFilial" th:text="${msg.texto}"></span>&nbsp;
            <span>cadastrada com sucesso &nbsp; :D</span>
          </div>
          <div th:case="fail" class="msg msgFAIL">
            <span>filial</span>&nbsp;
            <span>lamentas, mas esse cnpj:  </span>&nbsp;
            <span class="alertFilial" th:text="${msg.texto}"></span>&nbsp;
            <span>já esta cadastrado &nbsp; :( </span>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
