!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="header">

		<nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar" style="background-color: #ff4000; border-bottom: 1px solid #ff4000">

			<div class="container-fluid">
				<img class="circuloImgUser" th:src="${user.urlImg}"/>

				<span class="spanNameUser" th:text="${user.nomePessoa}"></span>

				<ul class="nav navbar-nav  navbar-right">

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="icoUserExit fa  fa-user"></i>
						</a>

						<ul class="dropdown-menu">
							<li>
								<div class="aw-logged-user">
									<img th:src="${user.urlImg}"
										 width="80" height="80" alt="Nome da Usuario" class="aw-logged-user__picture" />
									<span class="aw-logged-user__name" th:text="${user.nomePessoa}"></span>
								</div>
							</li>
							<li role="separator" class="divider"></li>
							<li><a class="botaoChamaModal" data-toggle="modal" data-target="#modalConfigPerfil"><i class="fa fa-cog" aria-hidden="true"></i> Configurações de perfil</a></li>
							<li><a class="botaoChamaModal" data-toggle="modal" data-target="#modalAlterPassword"><i class="fa fa-key"></i> Alterar minha senha</a></li>
						</ul>
					</li>

					<li>
						<a th:href="@{/Login}"  ><em class="icoUserExit fa  fa-sign-out"></em></a>
					</li>
				</ul>

			</div>

		</nav>

    <!-- ================== START HEAD SECTION ==================== -->
		<div th:replace="account/modal/Config-Perfil :: config-perfil">...</div>
		<!-- ================== END HEADER SECTION ==================== -->

		<!-- ================== START HEAD SECTION ==================== -->
		<div th:replace="account/modal/Alter-Password :: alter-password">...</div>
		<!-- ================== END HEADER SECTION ==================== -->

	</div>

</body>
</html>
