!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div th:fragment="inputsCSS">
      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/bootstrap.min.css}"/>
      <!-- Google Font -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-google.css}"/>
      <!-- Font Awesome -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-awesome.min.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/platform.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/icomoon.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/account-modal.css}"/>
    </div>

</body>
</html>
