.efeitoZoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.botaoChamaModal {
  cursor: pointer;
}

.divModalConfigPerfil {
  width: 100%;
  padding: 0% 2%;
  min-height: 200px;
}

.titleModal {
  text-align: center;
  font-weight: 500;
  font-size: 14pt;
  display: block;
  color: #b1b1b1;
}

.imgUserModal {
  margin-left: 3%;
  width: 110px;
    height: 110px;
}

.inputModal {
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13pt;
  width: 65%;
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  padding: 1% 2%;
  background-color: #fff;
  margin-bottom: 2%;
}

.inputModalConfigPerfil {
  margin: 2%;
  margin-right: 6%;
  float: right;
}

.inputModal:focus {
  outline: 2px none;
  border-color: #ff9c00 ;
}

.bodyAlterPassword {
  margin-top: 20px;
}

.btnModal {
  font-family: 'Roboto';
  font-weight: 300;
  background: #4285f4;
  border: 1px solid #4285f4;
  color: #FFF;
  border-radius: 3px;
  padding: 8px 0px;
  z-index: 1;
  width: 20%;
  margin-top: 2%;
  text-align: center;
  float: right;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.btnModal:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #4285f4 !important;
  color:#4285f4 !important;
}

.footerModal {
  padding: 5px 15px 15px;
}

.boxGenero{
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  cursor: pointer;
  padding: 15%;
}

.boxGenero:hover{
  border: 1px solid #f39c12;
}

.boxGeneroSelected{
  border: 1px solid #f39c12 !important;
}

.noDisplay {
  display: none;
}

.divIconsGeral {
  margin-top: 10%;
}

.divIcons {
  text-align: center;
}

.nomeIcone {
  font-weight: 300;
  opacity: 0;
  margin: -50px;
  font-size: 16pt;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.icoGeneroStyle {
  color: #000;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.boxGenero:hover .nomeIcone {
  opacity: 1;
}

.boxGenero:hover .icoGeneroStyle {
  opacity: 0;
}

.icoCheck{
  color: #f39c12;
  font-size: 24px;
  float: right;
  margin-top: 82px;
  margin-right: -25px;
}


.fa-cog, .fa-key{
  font-size: 14px;
}
.fa-times:hover{
  color: #ff4000;
}

.form-group{
  text-align: center;
}
