.iform {
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 13pt;
    width: 100%;
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    padding: 0.7% 0.7%;
    margin-bottom: 2%;
    background-color:#fff;
}

.iform::-webkit-input-placeholder {
  color: #b6b6b6;
}

/* Firefox 18- */
.iform:-moz-placeholder {
  color: #b6b6b6;
}

/* Firefox 19+ */
.iform::-moz-placeholder {
  color: #b6b6b6;
}

/* IE10+ */
.iform:-ms-input-placeholder {
  color: #000;
}

.iform:focus {
    outline: 2px none;
    border-color: #ff9c00;
}

.btn-form {
    background: #4285f4;
    border: 1px solid #4285f4;
    color: #FFF;
    border-radius: 3px;
    padding: 8px 0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: right;
    width: 20%;
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
}

.btn-form:hover {
    background: #4285f4;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #4285f4;
}

.nomeLote{
  float: left;
  width: 50%;
}
.nomeSetor{
  float: left;
  width: 77%;
}

.qtdLote{
  float: left;
  width: 7%;
  margin-left: 2%;
}
.valorLote{
  float: left;
  width: 27%;
  margin-left: 2%;
}

.left {
  float: left;
  width: 48.7%;
}

.right {
  float: right;
  width: 48.7%;
}

.gitNot{
    width:100%;
}