.formFilalInfo {
  background : #FFFFFF;
  padding: 2%;
  padding-top: 5px;
  position: absolute;
  margin: 8% 0% 0% 6%;
  width: 40%;
  z-index: 1;
  font-weight: 300;
  font-family: 'Roboto';
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);
  color: #988d8d;
}

.topo {
  margin-bottom: 4%;
  color: #b6b6b6;
  font-family: 'Roboto';
  font-style: 300;
}

.noDisplay{
  display: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}


.input-form {
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 13pt;
    width: 100%;
    background-color: transparent;
    border-radius: 3px;
    opacity: .8;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid #988d8d;
    border-radius: 8px;
    padding: 1% 2%;
    margin-bottom: 4%;
}

.input-form:focus {
    outline: 2px none;
    border-color: #ff9c00;
}

.left {
  float: left;
  width: 48%;
}

.right {
  float: right;
  width: 48%;
}

.fRight{
  float: right;
  text-align: right;
  font-size: 16px;
  color: #b6b6b6;
}

.fRight:hover{
  cursor: pointer;
  color: #ffc900;
}

/* Chrome, Safari, Opera */
.input-class::-webkit-input-placeholder {
  color: #b6b6b6;
}

/* Firefox 18- */
.input-class:-moz-placeholder {
  color: #b6b6b6;
}

/* Firefox 19+ */
.input-class::-moz-placeholder {
  color: #b6b6b6;
}

/* IE10+ */
.input-class:-ms-input-placeholder {
  color: #000;
}

.btn-chamaForm {
    position: absolute;
    color: #FFF;
    margin-left: 62%;
    margin-top: 2%;
    border-radius: 100%;
    padding:10px;
    background-color: #FF2930;
    font-family: 'Roboto';
    z-index: 1;
    font-size: 15px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-chamaForm:hover {
  color: #686868;
  text-decoration: none;
  cursor: pointer;
}

.filial {
  font-family: 'Roboto';
  font-weight: 300;
  background: #f39c12;
  border: 1px solid #f39c12;
  color: #FFF !important;
  margin-top: 2%;
  margin-bottom: 6%;
  border-radius: 3px;
  padding: 10px;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.filial:hover {
  color: #f39c12 !important;
  background-color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.listFilias{
  z-index: 1;
  position: absolute;
  right: 0px;
  margin-top: 6%;
  width: 26%;
  padding: 2%;
  list-style-type: none;
}

.btn-form {
    background: #4285f4;
    border: 1px solid #4285f4;
    color: #FFF;
    border-radius: 3px;
    padding: 8px 45px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: right;
    margin-top: 2%;
    font-size: 16px;
}

.btn-form:hover {
    background: #FFF;
    text-decoration: none;
    color: #4285f4;
    cursor: pointer;
    border: 1px solid #4285f4;
}

.btn-formCanc {
    background: #FF2930;
    border: 1px solid #FF2930;
    color: #FFF;
    border-radius: 3px;
    padding: 8px 45px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: right;
    margin-top: 2%;
    font-size: 16px;
}

.btn-formCanc:hover {
    background: #FFF;
    text-decoration: none;
    color: #FF2930;
    cursor: pointer;
    border: 1px solid #FF2930;
}

/* MAPA */
#pagina, #corpo{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

#map{
  width: 100%;

}

.controls{
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input{
  background-color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 18px 10px;
  text-overflow: ellipsis;
  width: 60%;
  margin: 2% 1%;
}

#pac-input:focus{
  border-color: #4d90fe;
}

.pac-container{
  font-family: 'Roboto';
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label{
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
}

.mRight{
  float: left;
  margin-right: 2%;
}

.colorFF2930{
  background-color: #ff2930 !important;
  border-color: #ff2930 !important;
  padding: 8px 45px;
}
