.formFilial {
  position: absolute;
  margin: 2%;
  padding: 2% 2%;
  width:  90%;
  margin-left: 5%;
}

.noDisplay {
  display: none;
}

.input-form {
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 13pt;
  width: 100%;
  border-radius: 3px;
  opacity: 1;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  padding: 0.7% 0.7%;
  background-color: #fff;
  margin-bottom: 2%;
}

.menos-bottom {
    margin-bottom: 0%;
}

.input-form:focus {
    outline: 2px none;
    border-color: #ff9c00;
}

.input-modal {
  width: 95%;
}

.btn-normal {
  text-decoration: none;
  font-weight: 500;
  font-size: 14pt;
  margin: 0px;
  margin-bottom: -15px;
  display: block;
  background-color: #f39c12;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 20px;
}

.titleModal {
  text-decoration: none;
  font-weight: 500;
  font-size: 14pt;
  margin: 0px;
  margin-bottom: -15px;
  display: block;
  color: #b1b1b1;
}

.btn-normal:hover {
  text-decoration: none;
}

.btn-confirmar {
  font-family: 'Roboto';
  font-weight: 300;
  background: #4285f4;
  border: 1px solid #4285f4;
  color: #FFF;
  border-radius: 3px;
  padding: 8px 0px;
  z-index: 1;
  width: 20%;
  margin-top: 2%;
  text-align: center;
  float: right;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.btn-confirmar:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #4285f4 !important;
  color:#4285f4 !important;
}

.btn-addUrl {
  background: #03ab37;
  border: 1px solid #03ab37;
  float: left;
}

.btn-addUrl:hover{
  background: #FFF;
  color: #03ab37 !important;
  border: 1px solid #03ab37 !important;
}

.btn-filial {
  font-family: 'Roboto';
  font-weight: 300;
  background: #f39c12;
  border: 1px solid #f39c12;
  color: #FFF;
  border-radius: 3px;
  padding: 8px 20px;
  text-transform: uppercase;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 30%;
  text-align: center;
}

.btn-filial:hover {
  text-decoration: none;
  background: #FFF;
  border: 1px solid #f39c12;
  color: #f39c12;
  cursor: pointer;
}

.posForm {
  margin-top: 7%;
  margin-bottom: 7%;
}

.hrAbout {
  border-color: #b1b1b1;
}

.modalPersonalizado {
  top: 20px;
}

.posicao-icons {
  padding: 0% 2%;
  width: 100%;
}

.boxRedeSocial {
  padding-top: 2%;
  cursor: pointer;
  margin: 3.8%;
}

.rs {
	font-size: 25px;
  -webkit-transition: all 1.5s;
  -moz-transition: all 1.5s;
  -ms-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;
}

.boxRedeSocialSelected{
  color: #f39c12;
}

.nomeIcone {
  font-weight: 300;
  position: absolute;
  opacity: 0;
  margin: -20px;
  margin-top: -25px;
  font-size: 11pt;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -ms-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

.goo {
  left: 20%;
}

.stpp {
  left: 41.8%;;
}

.twt {
  left: 33%;
}

.boxRedeSocial:hover .nomeIcone {
  opacity: 1;
}

.boxRedeSocial:hover .rs {
  opacity: 0;
}

.rsLink {
  float: left;
  padding-top: 0.3%;
}

.infoLS{
  width: 100%;
  margin-top: 2%;
  background-color: #000;
  font-weight: 300;
  font-family: 'Roboto';
  color: #FFF;
  float: left;
  padding: 1%;
  font-size: 18px;
}

.txtLS{
  float: left;
  margin-left: 2%;
}

.icotLS{
  float: right;
  margin-right: 2%;
}

.icotLS:hover{
  color: #ff9c00;
  cursor: pointer;
}

.addUrlRedeSocial {
  padding: 0;
}

.listFilias{
  z-index: 1;
  padding: 2%;
  list-style-type: none;
}

.list {
  margin-bottom: 2%;
}

.organizandoLista{
  margin-bottom: 9%;
}

.hrFilial {
  margin-top: 2%;
}

.closeBtn {
  font-size: 19px;
  float: right;
  margin-top: -5.4%;
  margin-right: 1%;
  color: #FFF
}

.closeBtn:hover {
  color: #FFF !important;
  cursor: pointer;
}

.close:hover{
  color: #f39c12 !important;
}

.w3-animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
@-webkit-keyframes animatezoom{from{-webkit-transform:scale(0)} to{-webkit-transform:scale(1)}}
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}

.inputRedesSociais{
  float: left;
  width: 60%;
  border: none;
  ext-decoration: none;
  outline: none;
  margin-top: -0.4%
}

.spanNomeRedeSocial{
  float: left;
  width: auto;
  text-decoration: none;
}
.divDosInput{
    border: 1px solid #b3b3b3;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 2%;
    border-radius: 8px;
    font-size: 16px;
}

.redeFacebook{
  color: #3b5998;
}

.redeGoogle{
  color: #c13c31;
}

.redeTwitter{
  color: #1da1f2;
}

.redeSiteProprio{
  color: #000000;
}

.redeInstagram{
  color: #c73781;
}

.redeLinkedin{
  color: #0177b5;
}

.redeYoutube{
  color: #e62117;
}
