.formMapEvent{
    width: 700px;
    z-index: 10;
    position: absolute;
    padding: 1% 2% 0% 1%;
    margin-top: 80px;
    margin-left: 30px;
}


.formE {
  background: #FFFFFF !important;
  padding: 2%;
  margin-left: auto;
  margin-right: auto;
  left: 0px;
  right: 0px;
  width: 90%;
  z-index: 1;
  font-weight: 300;
  font-family: 'Roboto';
  height: auto;
  position: absolute;
  border-radius: 8px;
  margin-top: 1%;
  /*margin-top: 4.5%;
  border: 1px solid #b6b6b6;*/
}

.noDisplay{
  display: none !important;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.borderImg{
    border-style: dashed !important;
}

.tituloE{
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 16pt;
  text-align: center;
  color: #988d8d;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  display: block;
}

.tituloT{
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 14pt;
  text-align: left;
  color: #988d8d;
  width: 100%;
  margin: 0px;
  display: block;
  margin-bottom: -15px;
  margin-left: 2px;
}

.txtEdit{
  font-weight: 500;
  font-family: 'Roboto';
  font-size: 14pt;
  text-align: left;
  color: #988d8d;
  width: 100%;
  margin: 0px;
  margin-bottom: -15px;
  margin-left: 2px;
}

.iform {
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 13pt;
    width: 100%;
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    border: 1px solid #b6b6b6;
    border-radius: 8px;
    padding: 0.7% 0.7%;
    margin-bottom: 2%;
    background-color:#fff;
}

.iform::-webkit-input-placeholder {
  color: #b6b6b6;
}

/* Firefox 18- */
.iform:-moz-placeholder {
  color: #b6b6b6;
}

/* Firefox 19+ */
.iform::-moz-placeholder {
  color: #b6b6b6;
}

/* IE10+ */
.iform:-ms-input-placeholder {
  color: #000;
}

.iform:focus {
    outline: 2px none;
    border-color: #ff9c00;
}

.btn-form {
    background: #4285f4;
    border: 1px solid #4285f4;
    color: #FFF;
    border-radius: 3px;
    padding: 8px 0px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    float: right;
    width: 20%;
    margin-top: 2%;
    text-align: center;
    font-size: 16px;
}

.btn-form:hover {
    background: #4285f4;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
    border: 1px solid #4285f4;
}

.nomeLote{
  float: left;
  width: 50%;
}
.nomeSetor{
  float: left;
  width: 77%;
}

.qtdLote{
  float: left;
  width: 7%;
  margin-left: 2%;
}
.valorLote{
  float: left;
  width: 27%;
  margin-left: 2%;
}

.left {
  float: left;
  width: 48.7%;
}

.right {
  float: right;
  width: 48.7%;
}

/* Chrome, Safari, Opera */
.txtArea{
  color: #b6b6b6 !important;
}

.btn-chamaForm {
    position: absolute;
    color: #FFF;
    margin-left: 62%;
    margin-top: 2%;
    border-radius: 100%;
    padding:10px;
    background-color: #FF2930;
    font-family: 'Roboto';
    z-index: 1;
    font-size: 15px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-chamaForm:hover {
  color: #686868;
  text-decoration: none;
  cursor: pointer;
}

.divUnico{
  width: 100%;
}

.divI{
  font-weight: 300;
  font-family: 'Roboto';
  height: auto;
  border-radius: 3px;
  opacity: 1;
  border: 1px solid #b6b6b6;
  border-radius: 8px;
  padding: 0.7% 0.7%;
  margin-bottom: 2%;
  background-color:#fff;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  text-align: center;
}

.floatLeft{
  float: left;
}
.mRight{
  margin-right: 2%;
}

.iLoto{
  font-weight: 300;
  font-family: 'Roboto';
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  width: 48%;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border: none;
}
.iLoto::-webkit-input-placeholder {
  color: #b6b6b6;
}

/* Firefox 18- */
.iLoto:-moz-placeholder {
  color: #b6b6b6;
}

/* Firefox 19+ */
.iLoto::-moz-placeholder {
  color: #b6b6b6;
}

/* IE10+ */
.iLoto:-ms-input-placeholder {
  color: #b6b6b6;
}

.spamPre{
  font-weight: 500;
  font-family: 'Roboto';
  width: 100%;
  text-align: center;
  color: #988d8d;
  display: block;
  font-size: 16px;
}

.opCheck {
  font-weight: 300;
  font-family: 'Roboto';
  width: 100%;
  color: #b6b6b6;
  display: block;
  font-size: 16px;
  float: left;
  margin-bottom: 2%;
}

.opCheck:hover {
  cursor: pointer;
}
.opTitulo{
  font-weight: 300;
  font-family: 'Roboto';
  width: 50%;
  color: inherit;;
  display: block;
  font-size: 16px;
  margin-left: 1%;
  float: left;
}
.boxCheck{
  border: 1px solid #b6b6b6;
  width: 20px;
  height: 20px;
  float: left;
}
.infoLS{
  width: 100%;
  margin-bottom: 2%;
  background-color: #000;
  font-weight: 300;
  font-family: 'Roboto';
  color: #FFF;
  float: left;
  padding: 1%;
  font-size: 18px;
}

.txtLS{
  float: left;
  margin-left: 2%;
}

.inputLS {
	background: #000;
	border-color: #000;
	color: #FFF;
	font-family: 'Roboto';
	font-size: 18px;
	 width: 200px;
}

.icotLS{
  float: right;
  margin-right: 2%;
}
.icotLS:hover{
  color: #000;
  cursor: pointer;
}

.jaCad{
  padding: 0;
  margin-top: 2%;

}


.barBranch{
  width: 100%;
  height: 50px;
  top: 0px;
  font-size: 18px;
  border-bottom:1px solid #b6b6b6;
  margin-top: 5%;
}

.barLeft{
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
  height: 50px;
  padding: 0.7%;
  border-right: 1px solid #b6b6b6;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.barLeft:hover{
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);
  color:transparent;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.barRight{
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
  height: 50px;
  padding: 0.7%;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.marRight{
    margin-left: -25%;
}

.barRight:hover{
  box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);
  color: transparent;;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.selected{
  border-bottom: 4px solid #ff9c00;
}

.txtBar{
  font-weight: 300;
  font-size: 20px;
  font-family: 'Roboto';
  color: transparent;;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.txtBar:hover{
  color: #b6b6b6;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.hTxtBar{
  color: #b6b6b6;
  font-size: 20px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.spanIcc{
  display: block;
}

.social_icons {
    /*padding-top: 50px;
    padding-bottom: 70px;*/
}
.social_icons ul {
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  margin-left: 12%;
  margin-top: -2%;
}
.social_icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px
}
.social_icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #9d9d9d;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #9d9d9d;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.social_icons ul li a i {
    font-size: 20px;
}
.social_icons ul li a:hover {
    background: #f39c12;
    border: 1px solid #f39c12;
    color: #fff
}

.optionS{
  font-weight: 300;
  font-family: 'Roboto';
  font-size: 14pt;
  text-align: right;
  color: #988d8d;
  border: 1px solid #b6b6b6;
  padding: 0.5% 1%;
  margin-left: 2%;
  float: left;
  width: 10%;
  margin-top: -1.7%;
  margin-bottom: 2%;
}

.wIngresso{
  width: 32% !important;
  float: left;
}
/*GOOGLE MAPS*/
/* MAPA */
#pagina, #corpo{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    min-height: 300px;
    z-index: 10;
}

#map{
    width: 100%;
    min-height: 300px;
    z-index: 10;

}

.controls{
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input{
    background-color: #fff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 18px 10px;
    text-overflow: ellipsis;
    width: 60%;
    margin: 2% 1%;
}

.noOpacity{
    opacity: 0;
}

#pac-input:focus{
    border-color: #4d90fe;
}

.pac-container{
    font-family: 'Roboto';
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label{
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
}


/*END GOOGLE MAPS*/

.mTop{
    margin-top: 2% !important;
}

.fFoda{
    font-family: Roboto;
    width: 180px;
    position: static;
}
.mMTop{
    margin-top: 320px;
}
.width15{
    width: 15%;
}
.width20{
    width: 20%;
}
.width30{
    width: 30%;
}
.width50{
    width: 50%;
}

.width70{
    width: 70%;
}

.listaFilialBusca{
    padding: 0 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.btListaEvento{
    width: 28%;
    margin-left: 10px;
    height: 35px;
    margin-top: 1px;
}

.pLeft{
    float: left;
}

.pRight{
    float: right;
}

.backColorLote{
    background-color: #1b6673;
    border:1px solid #1b6673;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.backColorLote:hover{
    background-color: #FFF;
    color: #1b6673;
}

.backColorIngresso{
    background-color: #ff4000;
    border:1px solid #ff4000;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.backColorIngresso:hover{
    background-color: #FFF;
    color: #ff4000;
}

.editandoLote{
    background-color: #FFF;
    color: #1b6673;
    font-style: italic;
}
.editandoIngresso{
    background-color: #FFF;
    color: #ff4000;
    font-style: italic;
}

.eventosLI{
    width: 90%;
    margin-bottom: 1%;
    margin-top: 1%;
    list-style: none;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.divLiEvento{
    background-color: #2a6bbf;
    border: 1px solid #2a6bbf;
    font-weight: 300;
    font-family: 'Roboto';
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    padding: 15px;
    padding-bottom: 40px;
    text-decoration: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.divLiEvento:hover{
    background-color: #FFF;
    color:#2a6bbf;
    border: 1px solid #2a6bbf;
    text-decoration: none;

}

.itemEvento{
    float: left;
    width: auto;
}

.mapRight{
    margin-left: 2000px;
}








.wizard {
    margin: 20px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 40px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #ff9c00;

}
.wizard li.active span.round-tab i{
    color: #ff9c00;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #ff9c00;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #ff9c00;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 0px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }

}


.listEventos{
  z-index: 1;
  position: absolute;
  right: 0px;
  margin-top: 6%;
  width: 26%;
  padding: 2%;
  list-style-type: none;
}


.listCheck{
    font-weight: 300;
    font-family: 'Roboto';
    font-size: 14pt;
    color: #988d8d;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
    display: block;
    text-align: left;
    margin-left: 5%;
}

.checkSalvar{
    float: right;
    margin-top: -40px;
    margin-right: 60px;
    font-size: 20px;
    color: #349022;
}

.btnFilizar{
    margin-top: 15px;
    float: right;
}