.msg{
    position: absolute;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 18px;
    z-index: 2;
    width: 100%;
    color: #FFF;
    top: 0;
    margin-top: 20%;
    text-align: center;
    padding: 2%;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);
}

.noDisplayMsg{
    display: none;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}


.msgOK{
    background-color: #4285f4;
}
.msgFAIL{
    background-color: #ff2930;
}

.msgQUESTION{
    background-color: #000000;
}

.alertFilial{
font-style: italic;
font-weight: bold;
}

.questionOption{
    padding: 5px 30px;
    border: 1px solid #FFF;
    margin-left: 2%;
    border-radius: 8px;
    cursor: pointer;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.questionOption:hover{
    background-color: white;
    color: black;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.msgModal{
    top: 0%;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    z-index: 9999;
}
