#receber {
  background : #FFFFFF;
  padding-left: 15px;
  padding-bottom: 10px;
  position: absolute;
  left: 4%;
  margin: 8%;
  width: 33%;
}

#accordion article {
	background: #fff;
	height:0px;
	overflow:hidden;
	z-index:10;
}

#accordion #s2:checked ~ article {
	height: auto;
}

.boxCartao {
  padding-top: 2%;
  cursor: pointer;
}

.card {
	font-size: 25px;
}

.boxCartaoSelected{
  color: #f39c12;
}

#botao {
	position: absolute;
	padding-left: 64%;
 	padding-top: 10%;
}

.btn-video, .btn-video:active, .btn-video:focus, .btn-video:visited {
    background: transparent;
    border: 1px solid #929292;
    color: #686868;
    border-radius: 3px;
    padding: 12px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.btn-video:hover {
    background: #f39c12;
    color: #fff;
    border: 1px solid #f39c12;
}
