@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5hud7u');
  src:  url('../fonts/icomoon.eot?5hud7u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5hud7u') format('truetype'),
    url('../fonts/icomoon.woff?5hud7u') format('woff'),
    url('../fonts/icomoon.svg?5hud7u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eletro:before {
  content: "\e900";
}
.icon-rock:before {
  content: "\e901";
}
.icon-samba:before {
  content: "\e902";
}
.icon-sertanejo:before {
  content: "\e903";
}
.icon-logotipo .path1:before {
  content: "\e904";
  color: rgb(255, 64, 0);
}
.icon-logotipo .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(247, 151, 16);
}
.icon-logotipo .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(243, 150, 20);
}
.icon-logotipo .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(249, 64, 15);
  opacity: 0.9;
}
.icon-logotipo .path5:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 128, 0);
  opacity: 0.9;
}
.icon-logotipo .path6:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 128, 0);
  opacity: 0.9;
}
.icon-logotipo .path7:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(243, 150, 20);
  opacity: 0.9;
}
.icon-logotipo .path8:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logotipo .path9:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logotipo .path10:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logotipo .path11:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logotipo .path12:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logotipo .path13:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logotipo .path14:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 64, 0);
  opacity: 0.9;
}
.icon-logo .path1:before {
  content: "\e912";
  color: rgb(255, 64, 0);
}
.icon-logo .path2:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(247, 151, 16);
}
.icon-logo .path3:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(243, 150, 20);
}

.icoGeneroStyle{
  font-size: 80px;
  color: #FFF;
}