.boxParty{
  width: 100%;
  height: 240px;
  border: 1px solid #ff4000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  margin-bottom: 10%;
  cursor: pointer;
}

.titleParty{
  font-family: 'Lato';
  font-size: 20px;
  color: #FFF;
  float: left;
  padding: 10px;
  font-weight: 100;
  padding-top: 1%;
}

.faixaAboutParty{
  width: 100%;
  height: 50px;
  background-color: rgba(0,0,0,0.9);
  margin-top: -92px;
}

.ciculoEmpresa{
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50% 50%;
  margin-left: 50px;
  margin-top: -100px;
}

.nomeEmpresa{
  font-family: Roboto;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.sloganEmpresa{
  font-family: Roboto;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.divCapa{
  width: 100%;
  height: 200px;
  background-color: #f1f1f1;
  padding-top: 8%;
}

.search{
  border-top: 1px solid #ff4000;
  height: 50px;
  width: 100%;
  background-color: #000;
  margin-top: 3.4%;
}

.container{
  margin-top: 10%;

}

.typeSelected{
  width: 50px;
  height: 50px;
  float: right;
  color: #fff;
  padding: 1%;
}
.typeSelected:hover{
  cursor: pointer;
  height: 55px;
  background-color: #ff4000;
  color: #FFF;
  border-bottom: 5px solid #ff4000;
  border-top: 1px solid #ff4000;
}
.typeSelectedON{
  cursor: pointer;
  height: 55px;
  background-color: #ff4000;
  color: #FFF;
  border-bottom: 5px solid #ff4000 !important;
  border-top: 1px solid #ff4000 !important;
}

.icoType{
  color: inherit !important;
  font-size: 20px !important;
}

.searchParty{
  width: 20%;
  height: 50px;
  float: right;
  ext-decoration: none;
  outline: none;
  font-family: Roboto;
  font-size: 20px;
}

.circuloImgUser{
  width: 90px;
  height: 90px;
  border-radius: 50% 50%;
  position: absolute;
  margin-top: 5px;
  margin-left: 1%;
  z-index: 9999;
}

.spanNameUser{
  margin-left: 8%;
  font-size: 25px;
  font-family: Roboto;
  color: #FFF;
  padding-top: 10px;
  position: absolute;
}
.titleEventos{
  font-size: 25px;
  color: #FFF;
  font-family: Roboto;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 1%;
}

.bodyPatform{
  background: url(../images/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.titHead{
  text-align: center;
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 600;
}

.mapsLocation{
	width: 100%;
	margin-left: 15px;
}

.transparencia {
    filter:alpha(opacity=100);
    opacity: 0.0;
    -moz-opacity:0.0;
    -webkit-opacity:0.0;
}

/* MAPA */
#maps{
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
}

#map{
  width: 100%;

}
.controls{
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input{
  background-color: #fff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 18px 10px;
  text-overflow: ellipsis;
  width: 60%;
  margin: 2% 1%;
}

#pac-input:focus{
  border-color: #4d90fe;
}

.semiCirculoImgEvento{
  width: 600px;
  height: 520px;
  background-color: #ffffff;
  border-radius: 0% 0% 90% 0%;
  background: url(../images/party3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0px;
  position: absolute;
  z-index: 99999;
}

.aboutEvent{
  width: 100%;
  background-color: #FFF;
  height: 300px;
}

.mapEvent{
  width: 100%;
  height: 100px;
}

.icon-likes{
	color: #fff !important;
	font-size: 30px !important;
	float: right;
	margin-right: 4%;
	margin-top: 2%;
}

.icon-likes:hover{
  cursor: pointer;
}

.notLikes{
	color: #FF0000;
	font-size: 30px;
	float: right;
	margin-right: 4%;
	margin-top: 1%;
}

.Likes{
	color: #008000;
	font-size: 30px;
	float: right;
	margin-right: 4%;
	margin-top: 1%;
}

.comentsFacebook {
  margin-top: 18%;
  text-align: center;
  background-color: #FFF;
  padding-top: 2%;
  width: 100%;
}

.lenghtComents{
  margin-left: 25%;
  width: 50%
}

.infoFest{
	float: right;
}
