
/* This Css is for small mobile */

@media (max-width: 767px) {
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .video {
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .about_phone img {
        width: 100%;
    }
    .inner_about_title h2 {
        font-size: 25px;
    }
    .call_to_action p {
        padding-top: 50px;
    }
    .testimonial_caption p {
        text-align: center;
        font-size: 16px;
    }

    .copyright {
        padding-bottom: 34%;
        padding-top: 34%;
    }
    .textreajust{
        width: 150%;
    }
    .section_title h2 {
    font-size: 40px;
    }
    .section_title p {
    line-height: 28px;
    }
    .PCadEstilo {
    text-align: center;
    font-size: 16px;
    color: #f39c12;
    font-weight: 300;
    }
    .scroll_top {
      padding-top: 24px;
      text-align: center;
      margin-top: 65px;
    }
    .copy_right_text p {
    color: #8C8B8A;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    padding-left:5%;
    margin-top: -65px;
}
.social_icons ul {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 56px;
}


}

/* BRANCH - FORMULARIO RESPONSIVO PARA CELULAR - IGOR QUE FEZ >.<*/
@media (max-width: 767px) {

  .formFilalInfo{
      width: 100%;
      margin: 0% 0% 0% 0% ;
      padding-bottom: 7%;
   }

   .listFilias {
     right: 20px;
   }

   .filial {
     width: 120%;
   }
}

/* ABOUT - FORMULARIO RESPONSIVO PARA CELULAR - IGOR QUE FEZ >.<*/
@media (max-width: 767px) {

  .modal-dialog {
    margin: 0%;
    border-radius: 0px;
    width: 100%;
  }

  .modal-content {
    margin: 0%;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }

  .modal-body {
    min-height: 80%;
  }

  .modal-footer{
    width: 100%;
    position: relative;
    bottom: 0%;
  }

  .formFilial {
    margin-top: 8%;
  }

  .btn-confirmar{
    width: 30%;
  }

  .btn-addUrl {
    width: 55%;
  }

  .boxRedeSocial{
    margin: 7%;
  }

  .rs{
    font-size: 30px;
  }

  .goo{
    left: 33.5%;
  }

  .stpp {
    left: 76%;
  }

  .linkdin{
    left: 35%;
  }

  .ytb {
    left: 57%;
  }

  .twt {
    left: 59%;
  }

  .btn-filial{
    width: 100%;
  }

  .list {
    margin-bottom: 3%;
  }

  .closeBtn {
    margin-top: -18.4%;
  }

  .hrFilial {
    margin-top: 7%;
}

  .organizandoLista{
    margin-bottom: 18%;
  }

  .posForm {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}

/* This Css is for tablet */
@media (max-width: 760px) {
    .single_store {
        border-left: 0px;
    }
    .last {
        border-right: 0px;
    }
    .iphone {
        float: none;
        text-align: center;
    }
    .about_phone {
        text-align: center;
    }
    .call_to_action .col-md-3 {
        text-align: center;
        padding-top: 50px;
    }
    .video-button {
        text-align: center;
    }
    .single_fun_facts {
        padding-bottom: 60px;
    }
    .video {
        padding-top: 50px;
    }

    .divDosInput{
    padding-bottom: 50px;
    }
}

/* This Css is for Medium Deviced */

@media (min-width: 992px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .single_fun_facts {
        padding-bottom: 0px;
    }
    .video {
        padding-top: 00px;
    }
}
/* This Css is for large Deviced */

@media (min-width: 1200px) {
    .last {
        border-right: 1px solid #0F1217;
    }
    .single_store {
        border-left: 1px solid #0F1217;
    }
    .iphone {
        float: right;
    }
    .video-button {
        text-align: left;
    }
    .call_to_action .col-md-3 {
        text-align: right;
        padding-top: 0px;
    }
    .video {
        padding-top: 0px;
    }
}
