!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="header">
      <nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
    	  <div class="container-fluid">

    	    <div class="navbar-header">
    	      <a class="navbar-brand  hidden-xs" href="#">
    	      </a>

    	      <ul class="nav  navbar-nav">
    	        <li>
    	          <a href="#" class="js-sidebar-toggle"><i class="icoBar fa  fa-bars"></i></a>
    	        </li>
    	      </ul>
    	    </div>

    	    <ul class="nav navbar-nav  navbar-right">



    	      <li class="dropdown">
    	        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    	          <i class="icoUserExit fa  fa-user"></i>
    	        </a>

    	        <ul class="dropdown-menu">
    	          <li>
    	            <div class="aw-logged-user">
    	              <img src="http://cdn2.hubspot.net/hub/245562/file-306538470-png/v3/ninja2.png?t=1453934745802"
    	                width="80" height="80" alt="Nome da Empresa" class="aw-logged-user__picture" />
    	              <span class="aw-logged-user__name" th:text="${user.nomePessoa}"></span>
    	           		<input id="idAdm" class="noDisplay" th:value="${user.idPessoa}"></input>
    	             </div>
    	          </li>
    	          <li role="separator" class="divider"></li>
    	          <li><a class="botaoChamaModal" data-toggle="modal" data-target="#modalConfigPerfilCompany"><i class="fa fa-cog"></i> Meu perfil</a></li>
    	          <li><a class="botaoChamaModal" data-toggle="modal" data-target="#modalAlterPasswordCompany"><i class="fa fa-key"></i> Alterar senha</a></li>
    	        </ul>
    	      </li>

    	      <li>
    	        <a th:href="@{/LoginEmpresa}"><em class="icoUserExit fa  fa-sign-out"></em></a>
    	      </li>
    	    </ul>

    	  </div>
    	</nav>

      <!-- ================== START HEAD SECTION ==================== -->
  		<div th:replace="dash/modal/Config-Perfil-Company :: config-perfil-company">...</div>
  		<!-- ================== END HEADER SECTION ==================== -->

  		<!-- ================== START HEAD SECTION ==================== -->
  		<div th:replace="dash/modal/Alter-Password-Company :: alter-password-company">...</div>
  		<!-- ================== END HEADER SECTION ==================== -->

    </div>

</body>
</html>
