!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>

    <div th:fragment="inputsCSS">
        <script th:src="@{/layout/javascripts/jquery-3.1.0.slim.min.js}"></script>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-google.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-default.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/icomoon.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-modal.css}"/>

    </div>

</body>
</html>
