<!DOCTYPE html>
	<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
			xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
			layout:decorator="layout/Home-Default">

		<head>
			<meta charset="UTF-8"></meta>
			<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
			<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
			<title>The Dionisio | Login</title>
		</head>
		<body>
			<section layout:fragment="conteudo">
				<!-- ================== LOGIN COM GOOOLE  ===================== -->
				<script src="https://apis.google.com/js/api:client.js"></script>
				<script th:src="@{/layout/javascripts/login-Google.js}"></script>

				<!-- ================== LOGIN COM FACEBOOK  ===================== -->
				<script th:src="@{/layout/javascripts/login-Facebook.js}"></script>

				<!-- ================== START HEAD SECTION ==================== -->
				<section class="header parallax home-parallax page" id="SING-IN">
					<div class="section_overlay">
						<!-- HEAD -->
						<div th:replace="fragments/home/Header :: header">...</div>
					</div>
				</section>
				
				<!-- ================== END HEADER SECTION ==================== -->

				<!-- ================== START FORM SECTION ==================== -->
				<section class="subscribe parallax subscribe-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20" id="LOGIN">
					<div class="section_overlay wow lightSpeedIn">
						<div class="container">
							<div class="row">
								<div class="col-md-10 col-md-offset-1">
									<div class="section_title no_paddingBotton" >
										<h2>Login</h2>
										<p>É sempre bom encontrar você.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row  wow lightSpeedIn">
								<div class="col-md-6 col-md-offset-3">
									<div class="subscription-success"></div>
									<div class="subscription-error"></div>
									<form class="subscribe_form" method="POST" th:action="@{/FazerLogin}" th:object="${user}">
										<!-- Login via terceiros -->
										<p class="textPLoginSocial">Logo com :</p>
										<div class="button_login">
											<ul>
												<li id="viaFavebook" onclick="loginFacebook();"><a><i class="fa fa-facebook"></i><spam class="spamLoginSocial">acebook</spam></a></li>
												<li id="viaGoogle"><a><i class="fa fa-google"></i><spam class="spamLoginSocial">oogle</spam></a></li>
											</ul>
										</div>
										<p class="textPLoginSocial">ou</p>

										<div class="form-group">
											<input id="emailLogin" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" type="email" required="" class="required email form-control" placeholder="Informe o seu email" th:field="*{email}"></input>
											<input id="passwordLogin" maxlength="50" type="password" required="" class="required password form-control" placeholder="Informe sua senha" th:field="*{senha}"></input>
											<input id="nameLogin" class="noDisplay" th:field="*{nomePessoa}"></input>
											<input id="urlImgLogin" class="noDisplay" th:field="*{urlImg}"></input>
										</div>

										<button id="btnLogin" type="submit" class="btn btn-default subs-btn">Login</button>
									</form>

									<div>
										<a class="linkFFF" th:href="@{/EsqueciMinhaSenha}"><p>Esqueci minha senha</p></a>
										<a class="linkFFF" th:href="@{/Cadastro}"><p>Não possuo conta</p></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- ================== END FORM SECTION ====================== -->

				<!-- ================== START IMPUTSJS SECTION ================ -->
				<div th:replace="fragments/home/Inputs-JS :: inputsJS">...</div>
				<!-- ================== END IMPUTSJS SECTION ================== -->
			</section>
		</body>
	</html>
