<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/Dash-Default">
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>

	<title>Dash | About</title>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-about.css}"></link>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/responsive.css}"></link>
	<script th:src="@{/layout/javascripts/dash-about.js}"></script>
</head>

<body>
<section layout:fragment="conteudo">

	<ol class="listFilias">
		<li th:each="filial : ${filiais}" th:class="'list listaEmpresa' + ${filial.idEmpresa}">
			<!-- CRIANDO  -->
			<div onclick="BuscaAboutFilial(this); BuscaRedeSocialFilial(this); fechaTodosForms(this); abreForm(this); SimEspecificoAbout(this); SimEspecificoRedeSocial(this);" th:id="${filial.idEmpresa}" class="btn-filial btnForms" th:text="${filial.nomeFant}"></div>
			<hr th:id="'hr' + ${filial.idEmpresa}" class="hrAbout"></hr>
			<!-- ACCORDION COM JS  -->
			<div class="noDisplay Display divForms" th:id="'divForm' + ${filial.idEmpresa}">
				<span th:id="${filial.idEmpresa}" class="closeBtn" onclick="fechaForm(this);"><i class="fa fa-times"></i></span>
				<form class="accordion" th:id="'form' + ${filial.idEmpresa}" method="POST" th:action="@{/Sobre}" th:object="${filial}">

					<input type="text" class="noDisplay" th:id="'operacaoFilial' + ${filial.idEmpresa}" th:field="${filial.op}"></input>
					<input type="text" class="noDisplay" th:id="'idEmpresa' + ${filial.idEmpresa}" th:field="${filial.idEmpresa}"></input>
					<input type="text" class="noDisplay" th:id="'idPessoa' + ${filial.idEmpresa}" th:field="${filial.idPessoa}"></input>
					<input type="text" class="noDisplay" th:id="'idRamo' + ${filial.idEmpresa}" th:field="${filial.idRamo}"></input>
					<input type="text" class="noDisplay" th:id="'nomeFantasia' + ${filial.idEmpresa}" th:field="${filial.nomeFant}"></input>

					<input type="text" class="input-form" onkeypress="mascaraPhone(this, mtel);"  maxlength="14" placeholder="telefone (este telefone será visivel ao publico)" required="" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{4,4}$" title="Ex:(00)  0000-0000" th:id="'telefonePublico' + ${filial.idEmpresa}" th:field="${filial.telefonePublico}"></input>

					<textarea class="input-form menos-bottom" rows="4" maxlength="300" placeholder="descreva brevemente sua filial" required="" th:id="'about' + ${filial.idEmpresa}" th:field="${filial.about}"></textarea>

					<input type="button" th:id="'btnSA' + ${filial.idEmpresa}" class="btn-confirmar" onclick="showQuestion('#msgSave'); fechaForm(this)" value="confirmar"></input>
					<input th:id="'btnACTION' + ${filial.idEmpresa}" type="submit" class="btn-form noDisplay"></input>

					<a th:id="'btnAddRedeSocial' + ${filial.idEmpresa}" class="btn-confirmar btn-addUrl" data-toggle="modal" th:attr="data-target='#myModal' + ${filial.idEmpresa}">adicionar rede social</a>
					<hr th:id="'hr1-' + ${filial.idEmpresa}" class="posForm hrAbout"></hr>
				</form>

				<!-- MODAL E  REDE SOCIAL -->
				<div class="modal fade modalPersonalizado" th:id="'myModal' + ${filial.idEmpresa}" role="dialog">
					<div class="modal-dialog">
						<!-- MODAL CONTENT -->
						<div class="modal-content w3-animate-zoom">
							<form th:id="'formRedeSocial' + ${filial.idEmpresa}" method="POST" th:action="@{/SalvaRedeSocial}">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" onclick="LimpandoModal(this); BuscaRedeSocialFilial(this);" th:id="${filial.idEmpresa}"><i class="fa fa-times"></i></button>
									<h4 class="modal-title titleModal" th:text="'Selecione as redes sociais da filial ' + ${filial.nomeFant}"></h4>
								</div>
								<div class="modal-body">
									<div class="posicao-icons">
										<!-- ICONS DE REDE SOCIAL  -->
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-1-' + ${filial.idEmpresa}">
											<i class="fa fa-facebook rs notDisplay limpar" th:id="'ckRedeSocial-1-' + ${filial.idEmpresa}"></i><div class="nomeIcone">Facebook</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-2-' + ${filial.idEmpresa}">
											<i class="fa fa-google-plus rs notDisplay limpar" th:id="'ckRedeSocial-2-' + ${filial.idEmpresa}"></i><div class="nomeIcone goo">Google</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-3-' + ${filial.idEmpresa}">
											<i class="fa fa-twitter rs notDisplay limpar" th:id="'ckRedeSocial-3-' + ${filial.idEmpresa}"></i><div class="nomeIcone twt">Twitter</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-4-' + ${filial.idEmpresa}">
											<i class="fa fa-globe rs notDisplay limpar" th:id="'ckRedeSocial-4-' + ${filial.idEmpresa}"></i><div class="nomeIcone stpp">Site Próprio</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-5-' + ${filial.idEmpresa}">
											<i class="fa fa-instagram rs notDisplay limpar" th:id="'ckRedeSocial-5-' + ${filial.idEmpresa}"></i><div class="nomeIcone">Instagram</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-6-' + ${filial.idEmpresa}">
											<i class="fa fa-linkedin rs notDisplay limpar" th:id="'ckRedeSocial-6-' + ${filial.idEmpresa}"></i><div class="nomeIcone">Linkedin</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-7-' + ${filial.idEmpresa}">
											<i class="fa fa-youtube rs notDisplay limpar" th:id="'ckRedeSocial-7-' + ${filial.idEmpresa}"></i><div class="nomeIcone ytb">Youtube</div>
										</label>
										<label class="boxRedeSocial limpar" onclick="Selected(this)" th:id="'RedeSocial-8-' + ${filial.idEmpresa}">
											<i class="fa fa-snapchat-ghost rs notDisplay limpar" th:id="'ckRedeSocial-8-' + ${filial.idEmpresa}"></i><div class="nomeIcone">Snapchat</div>
										</label>

										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-1-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeFacebook">https://www.facebook.com/ </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do facebook desta filial" th:id="'inputDivRedeSocial-1-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-2-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeGoogle">https://plus.google.com/ </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do google plus desta filial" th:id="'inputDivRedeSocial-2-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-3-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeTwitter">https://www.twtter.com/ </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do twitter desta filial" th:id="'inputDivRedeSocial-3-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-4-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeSiteProprio">https://www. </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do site desta filial" th:id="'inputDivRedeSocial-4-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-5-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeInstagram">https://www.instagram.com/ </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do instagram desta filial" th:id="'inputDivRedeSocial-5-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-6-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeLinkedin">https://www.linkedin.com/in/ </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do linkedin desta filial" th:id="'inputDivRedeSocial-6-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-7-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeYoutube">https://www.youtube.com/ </span>
											<input type="text" class="inputRedesSociais " placeholder="digite a url do youtube desta filial" th:id="'inputDivRedeSocial-7-' + ${filial.idEmpresa}"></input>
										</div>
										<div onclick="irParaOInput(this.id)" class="noDisplay limparDiv  divDosInput" th:id="'DivRedeSocial-8-' + ${filial.idEmpresa}">
											<span class="spanNomeRedeSocial redeSnapchat">@</span>
											<input type="text" class="inputRedesSociais" placeholder="digite a url do snapchat desta filial" th:id="'inputDivRedeSocial-8-' + ${filial.idEmpresa}"></input>
										</div>
									</div>
								</div>

								<div class="modal-footer">
									<input th:id="${filial.idEmpresa}" type="button" onclick="showQuestion('#msgUpdateRede'); LimpandoModal(this);" class="btn-confirmar btnSAREDE" value="adicionar"></input>
									<input th:id="'btnCRUDREDE' +${filial.idEmpresa}" type="button" th:attr="form='formRedeSocial' + ${filial.idEmpresa}" onclick="SalvaRedeSocial(this); BuscaRedeSocialFilial(this);" class="btn-form noDisplay" data-dismiss="modal"></input>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ol>

	<!-- ======================== START MESSAGEz  ===============================-->
	<div th:replace="fragments/message/about/Messages-About :: message-about">...</div>
	<!-- ======================== EMD MESSAGE  =================================-->
	<!-- ======================== START MESSAGE YES NO =========================-->
	<div th:replace="fragments/message/about/Messages-Yes-No-About :: message-yes-no-about">...</div>
	<!-- ======================== EMD MESSAGE YES NO ===========================-->

</section>
</body>

</html>
