<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/Dash-Default">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-events.css}"></link>
	<title>Dash | Analitcs</title>

</head>
<body>
	<section layout:fragment="conteudo">
		<span class="tituloE">Análises</span>
		<div id="listaEvento" class="listaFilialBusca">
			<select id="filialG" onclick="buscaEventoG();" class="iform width30 pLeft" style="margin-right: 2%">
				<option th:each="filial : ${filiais}" th:id="${filial.idEmpresa}" th:value="${filial.idEmpresa}" th:text="${filial.nomeFant}"></option>
			</select>
			<select id="eventoG" name="eventoG" class="iform width30 pLeft" style=" margin-right: 1%;">

			</select>
			<button type="button" onclick="gerarGrafico();" class="fFoda btn btn-primary btListaEvento">gerar gráfico</button>

			<ul class="jaCad" id="listEvent">

			</ul>

		</div>

		<div id="genero" style="min-width: 310px; height: 400px; margin: 0 auto"></div>



		<script th:src="@{/layout/javascripts/dash-analitics.js}"></script>



	</section>




</body>

</html>
