<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/Dash-Default">
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

<head>

	<title>Dash | Branch</title>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-branch.css}"/>
	<script th:src="@{/layout/javascripts/dash-branch.js}"></script>
</head>
<body>
	<section layout:fragment="conteudo">

		<ol class="listFilias">
			<li th:each="filial : ${filiais}">
					<div onclick="BuscaFilial(this)" th:id="${filial.idEmpresa}" class="filial" th:text="${filial.nomeFant}"></div>
			</li>
		</ol>

		<form id="formFilial"  class="formFilalInfo noDisplay" method="POST" th:action="@{/Filial}" th:objects="${filial}">
				<span class="fRight" onclick="EscondeForm()"><i class="fa fa-times"></i></span>
	  		<legend class="topo">Descrição de filial</legend>

				<input type="text" placeholder="razão social" class="input-form input-class" id="rz"  required="" th:field="${filial.razaoSocial}"></input>

				<input type="text" placeholder="nome fantasia" class=" input-form input-class"   id="nf" required="" th:field="${filial.nomeFant}"></input>

				<input type="text" onkeypress="mascara(this, '##.###.###/####-##'); tecla();" maxlength="18" placeholder="cnpj" class=" left input-form input-class"  	id="cn" required="" pattern="([0-9]{2}[\.]?[0-9]{3}[\.]?[0-9]{3}[\/]?[0-9]{4}[-]?[0-9]{2})|([0-9]{3}[\.]?[0-9]{3}[\.]?[0-9]{3}[-]?[0-9]{2})" title="Ex: 00.000.000/0000-00" th:field="${filial.cnpj}"></input>
				<input type="text" onkeypress="mascara(this, '###.###.###.###'); tecla();" maxlength="15" placeholder="inscricão estadual" class=" right input-form input-class"  id="ie" required="" pattern="\d{3}.\d{3}.\d{3}.\d{3}" title="Ex: 000.000.000.000" th:field="${filial.ie}"></input>

				<input type="text" onkeypress="mascaraPhone(this, mtel);" maxlength="14" placeholder="telefone" class="left input-form  input-class" id="tel" required="" pattern="\([0-9]{2}\) [0-9]{4,6}-[0-9]{4,4}$" title="Ex:(00)  0000-0000" th:field="${filial.telefoneParticular}"></input>
				<input type="text" onkeypress="tecla();" placeholder="capacidade" maxlength="15" class="right input-form  input-class" id="cap" required="" pattern="[0-9]+$" title="Ex:Números apenas!" th:field="${filial.capacidade}"></input>

				<input type="text" onkeypress="mascara(this,'#####-###'); tecla();" maxlength="9" placeholder="cep" class="left input-form  input-class" id="cep" required="" pattern= "\d{5}-?\d{3}" title="Ex: 00000-000" th:field="${filial.cep}"></input>
				<input type="text" placeholder="cidade" maxlength="100" class="right input-form  input-class" id="cid" required="" th:field="${filial.cidade}"></input>

				<input type="text" placeholder="logradouro" maxlength="100" class="left input-form input-class" id="log" required="" th:field="${filial.logradouro}"></input>
				<input type="text" onkeypress="tecla();" maxlength="15" placeholder="número" class="right input-form  input-class" id="num"  required="" pattern="[0-9]+$" th:field="${filial.numero}"></input>

			    <!-- so pelo role-->
				<input type="text" class="noDisplay" id="op"  th:field="${filial.op}"></input>
				<input type="text" class="noDisplay" id="idE"  th:field="${filial.idEmpresa}"></input>
				<input type="text" class="noDisplay" id="idP"  th:field="${filial.idPessoa}"></input>
				<input type="text" class="noDisplay" id="latitude"  th:field="${filial.latitude}"></input>
				<input type="text" class="noDisplay" id="longitude"  th:field="${filial.longitude}"></input>
				<!-- so pelo role-->
				<input id="btnSA" type="button" onclick="showQuestion('#msgSave');" class="btn-form"></input>
				<input id="btnDE" type="button" onclick="SetValue('delete');showQuestion('#msgDelete');" value="deletar" class="btn-formCanc mRight noDisplay"></input>
                <input id="btnACTION" type="submit" class="btn-form noDisplay"></input>
			</form>


    <input id="pac-input" class="controls" type="text" placeholder="nome da rua, nº   ou  nome do estabelecimento (ex: rua dionisio,666 | Bar Dionisio )"></input>

  	<div id="corpo">
  			<div id="map"></div>
  	</div>

	<!-- ======================== START MESSAGES  ===============================-->
	<div th:replace="fragments/message/branch/Messages-Branch :: message-branch">...</div>
	<!-- ======================== EMD MESSAGE  =================================-->

	<!-- ======================== START MESSAGE YES NO =========================-->
	<div th:replace="fragments/message/branch/Messages-Yes-No :: message-yes-no">...</div>
	<!-- ======================== EMD MESSAGE YES NO ===========================-->

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3mIa30tyzUpfHJ8yichBwwNYbzIaFsC0&amp;libraries=places&amp;callback=initAutocomplete"></script>

	</section>
</body>
</html>
