<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorator="layout/Dash-Default">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>Dash | Events</title>


	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-events.css}" />

</head>

<body>
<section layout:fragment="conteudo">

	<script th:src="@{/layout/javascripts/dash-events.js}"></script>

	<!-- ======================== START BAR EVENTS ============================-->
	<div th:replace="fragments/dash/events/Bar-Events :: bar-events">...</div>
	<!-- ======================== END BAR EVENTS ==============================-->

	<!-- ======================== START LIST EVENTS ============================-->
	<div th:replace="fragments/dash/events/List-Events :: list-events">...</div>
	<!-- ======================== END LIST EVENTS ==============================-->

	<!-- ======================== START CREATE EVENTS ==========================-->
	<div th:replace="fragments/dash/events/Create-Events :: create-events">...</div>
	<!-- ======================== END CREATE EVENTS ============================-->

	<!-- ======================== START MAP EVENTS =============================-->
	<div th:replace="fragments/dash/events/Map-Events :: map-events">...</div>
	<!-- ======================== END MAP EVENTS ===============================-->

	<!-- ======================== START MESSAGE YES NO =========================-->
	<div th:replace="fragments/message/events/Messages-Yes-No :: message-yes-no">...</div>
	<!-- ======================== EMD MESSAGE YES NO ===========================-->




</section>



</body>

</html>
