<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorator="layout/Dash-Default">

<head>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<title>Dash | Monetary</title>

	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/dash-monetary.css}"/>

</head>
<body >
	<section layout:fragment="conteudo">
		<div id="receber">
			<h2>Como deseja receber?</h2>
			<div>
				<h3>Dinheiro:</h3>
				<input id="s" name="dinheiro" type="radio"/>
				<label for="s">Sim</label>
				<input id="n" name="dinheiro" type="radio"/>
				<label for="n">Não</label>
			</div>
			<div>
				<h3>Cheque:</h3>
				<input id="s1" name="cheque" type="radio"/>
				<label for="s1">Sim</label>
				<input id="n1" name="cheque" type="radio"/>
				<label for="n1">Não</label>
			</div>
			<div id="accordion">
				<h3>Cartão:</h3>
				<input id="s2" name="cartao" type="radio"/>
				<label for="s2">Sim</label>
				<input id="n2" name="cartao" type="radio"/>
				<label for="n2">Não</label>
				<article>
											<!-- LOGO DOS CARTÕES -->
					<label class="boxCartao" onclick="Selected(this)" id="c1">
						<i class="fa fa-cc-visa card noDisplay" aria-hidden="true" id="ckc1"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c2">
						<i class="fa fa-cc-mastercard card noDisplay" aria-hidden="true" id="ckc2"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c3">
						<i class="fa fa-cc-diners-club card noDisplay" aria-hidden="true" id="ckc3"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c4">
						<i class="fa fa-cc-amex card noDisplay" aria-hidden="true" id="ckc4"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c5">
						<i class="fa fa-cc-paypal card noDisplay" aria-hidden="true" id="ckc5"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c6">
						<i class="fa fa-cc-discover card noDisplay" aria-hidden="true" id="ckc6"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c7">
						<i class="fa fa-cc-stripe card noDisplay" aria-hidden="true" id="ckc7"></i>
					</label>
					<label class="boxCartao" onclick="Selected(this)" id="c8">
						<i class="fa fa-cc-jcb card noDisplay" aria-hidden="true" id="ckc8"></i>
					</label>
				</article>
			</div>
			<div id="botao" align="center">
			<a class="btn btn-primary btn-video accordion" role="button">Confirmar</a>
		</div>
		</div>



		<script th:src="@{/layout/javascripts/dash-monetary.js}"></script>
	</section>
</body>
</html>
