!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="message-about">
      <div th:object="${msg}" >
        <div id="msgDiv" th:switch="${msg.tipo}">
          <div th:case="update" class="msg msgOK">
            <span>filial</span>&nbsp;
            <span class="alertFilial" th:text="${msg.texto}"></span>&nbsp;
            <span>atualizada com sucesso &nbsp; :)</span>
          </div>
          <div th:case="fail" class="msg msgFAIL">
            <span>lamentamos, mas o sobre da filial </span>&nbsp;
            <span class="alertFilial" th:text="${msg.texto}"></span>&nbsp;
            <span>não pode ser alterado &nbsp; :( </span>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
