!DOCTYPE html>
<html>
<head>
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div th:fragment="footer">
       <section class="copyright">
	      <h2></h2>
	      <div class="container">
	          <div class="row">
	              <div class="col-md-2">
	                  <div class="copy_right_text">
	                  <!-- COPYRIGHT TEXT -->
	                      <p>Copyright &copy; 2016 <a href="">TheDionisio</a></p>
	                  </div>
	              </div>

				  <div class="col-md-8 wow bounceInLeft">
					  <div class="social_icons">
						 <ul>
							  <li><a href=""><i class="fa fa-facebook"></i></a>
							  </li>
							  <li><a href=""><i class="fa fa-twitter"></i></a>
							  </li>
							  <li><a href=""><i class="fa fa-google"></i></a>
							  </li>
							  <li><a href=""><i class="fa fa-youtube-play"></i></a>
							  </li>
						  </ul>
					  </div>
				  </div>


	              <div class="col-md-2">
	                  <div class="scroll_top">
                        <a th:href="@{/Home}"><i class="fa fa-home"></i></a>
	                  </div>
	              </div>
	          </div>
	      </div>
	  </section>
    </div>

</body>
</html>
