!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div th:fragment="header">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    		<div class="container">
    		    <div class="navbar-header">
    		        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    		            <span class="sr-only">Toggle navigation</span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
    		            <span class="icon-bar"></span>
    		        </button>
    		        <a class="navbar-brand" href="#">
    		             <img alt="Logo" th:src="@{/layout/images/logo.svg}"/>
    		        </a>
    		    </div>
    		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		        <ul class="nav navbar-nav navbar-right">
    		            <li><a th:href="@{/Home#HOME}">HOME</a> </li>
    		            <li><a th:href="@{/Home#ABOUT}">SOBRE </a> </li>
    		            <li><a th:href="@{/Home#EMPRESAS}">PARA EMPRESAS</a> </li>
    		            <li><a th:href="@{/Home#CONTACT}">CONTATO </a> </li>
    		            <li><a th:href="@{/Home#DOWNLOAD}">DOWNLOAD </a> </li>
    		            <li><a th:href="@{/Cadastro}">INSCREVA-SE </a> </li>
    		            <li><a th:href="@{/Login}">LOGIN</a> </li>
    		        </ul>
    		    </div>
    		</div>
		</nav>

    </div>

</body>
</html>
