!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <!--/*  Multiple fragments may be defined in one file */-->
    <div th:fragment="inputsCSS">
      <!-- Google Font -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-google.css}"/>
      <!-- Bootstrap -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/bootstrap.min.css}"/>
      <!-- Owl Carousel Assets -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/owl.carousel.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/owl.theme.css}"/>
      <!-- Pixeden Icon Font -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/Pe-icon-7-stroke.css}"/>
      <!-- Font Awesome -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-awesome.min.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/font-awesome.css}"/>
      <!-- Font Genero -->
        <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/icomoon.css}"/>
      <!-- PrettyPhoto -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/prettyPhoto.css}"/>
      <!-- Favicon -->

      <!-- Style -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/style.css}"/>
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/animate.css}"/>
      <!-- Responsive CSS -->
      <link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/responsive.css}"/>
    </div>

</body>
</html>
